pkgbase = legendary-tui
	pkgdesc = Fast, keyboard-driven Ratatui TUI frontend for Legendary Epic Games Store CLI
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/kmanisk/legendary-tui
	arch = x86_64
	license = custom
	makedepends = cargo
	depends = legendary
	optdepends = fzf: interactive directory picker for importing and moving games
	optdepends = rofi: desktop game launcher integration (Alt+G)
	optdepends = mangohud: performance overlay support
	optdepends = gamemode: gaming performance optimization
	source = legendary-tui-1.0.2.tar.gz::https://github.com/kmanisk/legendary-tui/archive/refs/tags/v1.0.2.tar.gz
	sha256sums = c959c1759eb20f7ad1df4c681f29ea9051e5a095132af818e014264cf1622fa8

pkgname = legendary-tui
