pkgbase = legendary-tui
	pkgdesc = Fast, keyboard-driven Ratatui TUI frontend for Legendary Epic Games Store CLI
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/kmanisk/legendary-tui
	arch = x86_64
	license = custom
	makedepends = cargo
	depends = legendary
	optdepends = fzf: interactive directory picker for importing and moving games
	optdepends = rofi: desktop game launcher integration (Alt+G)
	optdepends = mangohud: performance overlay support
	optdepends = gamemode: gaming performance optimization
	source = legendary-tui-1.0.1.tar.gz::https://github.com/kmanisk/legendary-tui/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = 5e657d7210fe49352024e599db57b07f2b4f286ff9ba250b3bfdeafaa9284872

pkgname = legendary-tui
